.insertions-container{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .notFound-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        height: 50vh; 
        text-align: center;
    }
}

.filter-wrapper{
    margin-top: 120px;
}
