.home-page-wrapper {
    padding: 20px;


    .insertion-card-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-weight: bold;
        gap: 20px;
    }

    .error {
        color: red;
    }


}