

.home-page-wrapper {

    .insertion-card-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-weight: bold;
        gap: 20px;
    }

    .error {
        color: red;
    }

    .last__insertions{
        text-align: center;
        margin-top: 100px; // Aggiunge spazio sopra il titolo
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }

}