$button-bg: #FFBA49;
$button-hover: #FFBA49;
$font-color: #FFBA49;

.button-style{
    color: white;
    background-color: black;
    border-radius: 10px;
    width: auto;

    &:hover {
        background-color: grey; // Cambia 'grey' con il colore desiderato
    }

    &.primary{
        
    }

    &.login{
        width: 100%;
        padding: 13px;
        background-color: $button-bg;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        border-radius: 5px;
    
        &:hover {
            background-color: $button-hover;
        }
    }

    &.offer {
        padding: 15px;
        width: 100%;
        background-color: #EF5B5B;
        cursor: pointer;
        &:hover{
            background-color: #b72222;
        }
    }

    &.active-style{
        border: 2px solid transparent;
        background-color: transparent;
        color: black;
        font-size: 1.1em;
        font-weight: bold;
        padding: 12px;
        cursor: pointer;
        transition: color 0.6s ease;
        border-radius: 0px;
        flex: 0 1 auto;
        display: flex;


        &:hover {
            color: black;
            border-bottom: 2px solid $button-bg;
        }

        &.active{
            color: $font-color;
            border-bottom: 2px solid $button-bg;
            font-weight: bold;
            box-shadow: 0px 2px 0px rgba(201, 53, 115, 0.3)
        }
        
    }

    &.search-style{
        background: $button-bg;
        color: white;
        border: none;
        padding: 14px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.1em;

        &:hover{
            background-color: $button-hover;
        }
    }

}