$button-bg: #f95738;
$button-hover: #e84e30;

.button-style{
    color: white;
    background-color: black;
    border-radius: 10px;
    width: auto;

    &:hover {
        background-color: grey; // Cambia 'grey' con il colore desiderato
    }

    &.primary{
        
    }

    &.login{
        width: 100%;
        padding: 13px;
        background-color: $button-bg;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        border-radius: 5px;
    
        &:hover {
            background-color: $button-hover;
        }
    }

}