$input-border: #ccc;
$input-focus: black;
$text-color: #888;
.input-wrapper {

}

.input-style{

  width: 100%;

  gap: 8px; /* Spazio tra label e input */


  &.login {
      width: 470px;
      padding: 15px;
      border-radius: 5px;
      border: 1px solid $input-border;
      font-size: 16px;

      &::placeholder {
          color: $text-color;
      }

      &:focus {
          border: 2px solid $input-focus;
          outline: none;
      }
  }

  &.primary {
    /* eventuali stili per primary */
  }
  &.secondary {
    /* eventuali stili per secondary */
  }
  &.transparent {
    /* eventuali stili per transparent */
  }
  &.error {
    border: 1px solid red;
  }
  &.success {
    background-color: green;
  }
}
  
  /* Se vuoi che tutte le label abbiano una larghezza fissa per un allineamento uniforme */
  .input-label {
    min-width: 120px; /* Regola questo valore in base alle tue esigenze */
    text-align: left;
  }
  