$input-border: #ccc;
$input-focus: black;
$text-color: #888;

.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  &.number-style {
    max-width: 600px;
    min-width: 280px;
    width: 100%;
  }

  .number-input-style {
    width: 100%;
    padding: 15px;
    padding-right: 40px;
    border-radius: 5px;
    border: 1px solid $input-border;
    font-size: 16px;

    &::placeholder {
      color: $text-color;
    }

    &:focus {
      outline: 1px solid rgba(58, 61, 64, 0.3); 
      box-shadow: 0 0 8px rgba(52, 53, 54, 0.3); 
      border: 1px solid rgba(0, 0, 0, 0.7);
    }

    &.primary{
        
    }

    &.offer{
        width:70%;
        min-width: 300px;
        max-width: none;

    }
  }

  .unit {
    position: absolute;
    right: 10px; // Posiziona l'unità sulla destra
    top: 50%; // Centrato verticalmente
    transform: translateY(-50%); // Centra esattamente al centro
    color: #888; // Colore dell'unità
    font-size: 16px;
  }
}
