.image-display-wrapper {
    width: 25px;       // Imposta una larghezza fissa (o in percentuale, purché altezza e larghezza siano uguali)
    height: 25px;      // Imposta un'altezza uguale alla larghezza
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 50%; // Questo rende il contenitore un cerchio perfetto
    padding: 5px;       // Se il padding è troppo grande potrebbe ridurre lo spazio per l'immagine, regola se necessario
  
    // Variante di stile
    &.primary {
      background-color: #f9f9f9;
    }
  
    &.secondary {
      background-color: #e0e0e0;
    }

    &.cursor {
      cursor: pointer;
    }
  }
  
  .image-display-wrapper img {
    width: 75%;
    height: 75%;
    object-fit: cover; 
  }
  