$boreder-color: #c02278;

.real-estate-form {
  background-color: #fff;
  box-shadow: 6px 6px 10px rgba(0,0,0,0.1);
  width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  
    .photo-upload {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
      .upload-button {
        background: #ddd;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 4px;
      }
    }
  
    .form-fields {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .description-wrapper{
        width: 100%;
      }

      .description{
        width: 100%; 
        max-width: 575px;
        height: 150px; 
        resize: none; 
        overflow-y: auto; 
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 12px;

        &::placeholder{
          color: #888;
        }

        &:focus{
          outline: 1px solid rgba(58, 61, 64, 0.3); // Bordo visibile effetto luce
          box-shadow: 0 0 8px rgba(52, 53, 54, 0.3); // Effetto glow
          border: 1px solid rgba(0, 0, 0, 0.7); // Per mantenere un contrasto con il box-shadow
        }
      }

        .title{
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 900px;
            margin-bottom: 8px;


        }

        .buttons{
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          button {
            flex: 1; 
            min-width: 120px;
            max-width: 200px;
          }
        }

        .checkbox-group{
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          flex: 1;
          justify-content: left;
          margin-top: 10px;
          margin-bottom: 20px;
        }
    }
    
    .select-group {
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;
      justify-content: center;

      .select{
          max-width: 300px; 
          width: 100%;
      }
    }

    .address-wrapper {
      display: flex;
      align-items: center; 
      flex-wrap: wrap; 
      justify-content: space-between;
    }
    
  }
  