$container-bg: #fff;
$border-color: #ccc;

.user-details-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 6px 6px 10px rgba(0,0,0,0.1);
  width: 550px;
  margin: 90px auto;

  .card-header {
    display: flex;
    justify-content: center;
    gap: 20px;

    button {
      background: none;
      border: none;
      font-size: 1.1em;
      padding: 10px;
      cursor: pointer;
      color: #555;
      border-bottom: 2px solid transparent;
      transition: all 0.3s;

      &:hover {
        color: #555;
        border-bottom: 2px solid black;
      }

      &.active {
        color: black;
        border-bottom: 2px solid black;
        font-weight: bold;
        box-shadow: 0px 0px 0px;
      }
    }
  }

  .profile-info-section {
    background-color: $container-bg;
    width: 500px;
    margin: 2px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .section-title {
      font-weight: bold;
      font-size: 1.2em;
      margin-bottom: 20px;
    }

  }

  .modify-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
}

.error{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}
