.details-surface {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
  
    p {
      margin: 5px 0;
    }
  
    strong {
      color: #333;
    }
  }
  